
   .main-auth {
      font-family: 'Raleway', sans-serif;
      background-color: rgb(32, 33, 43);
    }

    .auth-video {
      width: 100dvw;
      min-height: 100dvh;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }

    .auth-header-text {
      position: absolute;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      transform: translateY(-5rem);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .auth-header-text h1 {
      font-weight: 1000;
      font-size: 1.75rem;
      text-transform: uppercase;
      line-height: 1;
      font-family: cursive;
    }

    .auth-header-text span {
      display: block;
      font-weight: 500;
      font-size: 6rem;
      font-family: cursive;

    }

    .auth-header-text span:hover,
    .auth-header-text h1:hover {
      transform: scale(1.05);
      display: block;
      /* font-weight: 300;
      font-size: 6rem; */

    }

    .mainAuth {
      position: relative;
      margin-bottom: 5px;
      left: 0;
      right: 0;
      display: flex;
      justify-content:center;
    }

    .sign-in,
    .sign-up {
      margin-top : 5%;
      justify-content:space-between;
      background-color:transparent;
      border: 1px solid  white;
      border-radius: 5px;
      color:   white;
      display: flex;
      width: 100px;
      height: 40px;
      text-align: center;
      align-items: center;
      position: relative;
      text-decoration: none;
      z-index: 1;
    }

    .sign-in:hover{
      background-color:aliceblue;
      text-decoration: none;
      color: rgb(32, 33, 43);
      transform: scale(1.05);

    }
    
    .sign-up:hover{
      background-color:aliceblue;
      color: rgb(32, 33, 43);
      transform: scale(1.05);

    }
    .sign-in{
      padding-left:20px;
      margin-right: 20px;
    }
    .sign-up{
      padding-left:20px;
    }
    .description {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      color: white;
      background-color: hsla(249, 16%, 17%, 0.7);
      padding: 2rem;
    }

    .description span {
      font-size: larger;
      font-weight: bolder;
    }

    .description p {
      max-width: 40rem;
      margin-inline: auto;
      line-height: 1.6;
    }
